<div fxFlex fxLayout="column" fxLayoutGap="10px" style="height: 100vh">
  <div fxLayout="row wrap">
    <div fxFlex="50" fxLayout="column" fxFlex.lt-md="100">
      <mat-card>
        <mat-card-content>
          <div *ngIf="gokVoltooid; else inputBlock">
            <button mat-button (click)="herstartSpel()">Herstart Spel</button>
          </div>
          <ng-template #inputBlock>
            <h1>Voer uw gok in... {{ randomGetal }}</h1>

            <form [formGroup]="gokForm" (ngSubmit)="onSubmit(gokForm.value)">
              <mat-form-field>
                <input type="number" formControlName="gok" matInput autofocus="true">
              </mat-form-field>

              <button type=" submit" mat-button>Plaats gok</button>
            </form>
          </ng-template>
        </mat-card-content>

        <mat-card-footer style="padding: 10px">
          {{ gokReden }}
        </mat-card-footer>
      </mat-card>
    </div>

    <div fxFlex="50" fxLayout="column" fxFlex.lt-md="100">
      <mat-card>
        <mat-card-content>
          <h1>Status</h1>
          <p>
            U heeft nog {{ secondsCount }} seconden...<br />
            U heeft nog {{ gokRemaining }} gokken...
          </p>

          <h3>Uw gokken</h3>
          <mat-chip-list *ngFor="let gokChip of gokken">
            <mat-chip>{{ gokChip }}</mat-chip>
          </mat-chip-list>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
